<!--ok anything in views can be ignored or deleted once we fix the coding in the other areas basically-->
<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>