<!-- <nav class="navbar">
    <div class="navbar-logo">
      <img src="my-app/src/app/navbar/learnify.png" alt="My App Logo" />
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Saved</a></li>
        <li><a routerLink="/about">Profile</a></li>
        <li><a routerLink="/about">Sign In</a></li>
    </ul>
    <div class="navbar-actions">
    </div>
  </nav> -->
      <!-- Add login/logout buttons or user-related actions here -->
      <!-- <li><a routerLink="/contact">Blog</a></li> -->



      <nav class="navbar">
        <div class="navbar-center">
          <h1 class="navbar-title">LEARNIFY</h1>
          <div class="navbar-logo">
            <img src="/learnifylogo.png" alt="Learnify Logo" />
          </div>
        </div>
        <div class="navbar-links">
          <a href="/profile" class="navbar-link">Profile</a>
          <a href="/saved" class="navbar-link">Saved</a>
          <a href="/about" class="navbar-link">About</a>
          <a href="/logout" class="navbar-link">Logout</a>
        </div>
      </nav>
      
    