.navbar {
  width: auto;
  height: 50px;
  background-color: #333333;
  display: flex;
  justify-content: space-between; /* Space between the center and the right section */
  align-items: center;
  color: #ffffff;
  padding: 0 20px; /* Add padding on the left and right for spacing */
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
  margin-right: 10px;
}

.navbar-logo img {
  height: 30px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
  align-items: center;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px; /* Space between links */
  font-size: 1rem;
}

.navbar-link:hover {
  color: #ffcc00; /* Hover effect */
}
