<nav class="navbar">
    <div class="navbar-logo">
      <img src="my-app/src/app/navbar/learnify.png" alt="My App Logo" />
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Saved</a></li>
        <li><a routerLink="/about">Profile</a></li>
        <li><a routerLink="/about">Sign In</a></li>
        <!-- <li><a routerLink="/contact">Blog</a></li> -->
    </ul>
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>
