<div class="body"> 
  <nav class="login-navbar">
    <div class="login-navbar-center">
      <h1 class="navbar-title">LEARNIFY</h1>
      <div class="navbar-logo">
        <img src="/learnifylogo.png" alt="Learnify Logo" />
      </div>
    </div>
  </nav>

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" formControlName="email" />

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" formControlName="password" />

      <button type="submit" [disabled]="!loginForm.valid">Sign In</button>

      <div class="links">
        <a routerLink="/signup">Create New Account</a>
      </div>
    </form>
  </div>
</div>
