<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">

  <title>Learnify</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <h1>LEARNIFY</h1>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Saved</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </nav>
  <header class="hero">
    <div class="hero-content">
      <div class="profile-picture"></div>
      <div class="welcome-text">
        <h2>Welcome, [User's Name]</h2>
        <span class="role">Student</span>
        <p>Begin your learning journey by filling out the form below</p>
        <button class="get-started">Get Started</button>
      </div>
    </div>
  </header>
</body>
<app-login></app-login>
</html> -->

<!-- <nav class="navbar">
  <div class="navbar-brand">
    <h1>Learnify</h1>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/saved">Saved</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav> -->

<app-login></app-login>
<app-home></app-home>
<!-- <router-outlet></router-outlet> -->

<!-- <div class="hero">
  <div class="hero-content">
    <div class="profile-picture"></div>
    <div class="welcome-text">
      <h2>Welcome, {{ userName }}</h2>
      <span class="role">Student</span>
      <p>Begin your learning journey by filling out the form below</p>
      <button class="get-started" (click)="onGetStarted()">Get Started</button>
    </div>
  </div>
</div> -->

