<!-- welcome.component.html -->
<nav class="welcome-navbar">
    <div class="welcome-navbar-center">
      <h1 class="navbar-title">LEARNIFY</h1>
      <div class="navbar-logo">
        <img src="/learnifylogo.png" alt="Learnify Logo" />
      </div>
    </div>
  </nav>
<div class="welcome-container">
    <div class="text-section">
      <p class="welcome-phrase">WELCOME TO LEARNIFY!</p>
      <p class="welcome-phrase">Your path to learning starts here.</p>
      <p class="welcome-phrase">Join thousands of learners today.</p>
    </div>
  
    <div class="logos">
      <img src="/coursera-logo.png" alt="Coursera Logo" class="logo" />
      <img src="/codepath-logo.png" alt="CodePath Logo" class="logo" />
      <img src="/freecodecamp-logo.png" alt="FreeCodeCamp Logo" class="logo" />
    </div>
  
    <!-- <button class="get-started-btn" routerLink="/login" (click)="testRouting()">Get Started</button> -->
    <button class="get-started-btn" (click)="navigateToLogin()">Get Started</button>

  </div>
  
